<section class="cancel-body">
  <div class="cancel-order">
    <div class="header-order color-ash">
      <span class="ht-title"><i class="hotel-icon"></i>中懋国际大酒店<span class="color-red hotel-price color-ash">￥219</span></span>
    </div>
    <div class="body-order">
      <span class="address color-ash">
          湖南省广水市xxxx
          <span class="trade-status right">
          已取消
        </span>
      </span>
      <p class="active-time color-ash">
        08-01 至 08-02
        <span>1晚2间</span>
      </p>

    </div>
    <div class="footer-order clearfix">
      <button>删除</button>
      <button>再次预订</button>
    </div>
  </div>
  <div class="cancel-order">
    <div class="header-order">
      <span class="ht-title"><i class="hotel-icon"></i>中懋国际大酒店<span class="color-red hotel-price">￥219</span></span>
    </div>
    <div class="body-order">
      <span class="address">
          湖南省广水市xxxx
          <span class="trade-status right">
          已成交
        </span>
      </span>

      <p class="active-time">
        08-01 至 08-02
        <span>1晚2间</span>
      </p>

    </div>
    <div class="footer-order clearfix">
      <button>取消订单</button>
      <button>再次预订</button>
    </div>
  </div>
</section>