<header class="header">
  <img src="./../assets/img/hotel-header.jpg">
  <div class="header-info">
    <div class="header-info-title"> 中懋国际大酒店<span>&nbsp;[五星级]</span> </div>
  </div>
</header>
<section class="clearfix">
  <div class="ht-title comment">
    <div class="comment-score">
      <span class="comment-score-num">4.9</span>
      <span>分</span>
      <div class="comment-score-desc">
        <p class="">国际五星标准</p>
      </div>
      <p class="small right">名流商务休闲之旅</p>
    </div>

  </div>
  <!-- <div class="ht-adress">
    地址：xxxxxx
  </div>
  <div class="address-img">
    <img src="" />
  </div> -->
</section>
<section class="map">
  <div class="map-content">
    <div class="map-location"> 海珠区昌岗中路172号（近地铁2号线、8号线昌岗站E出口） </div>
    <div class="map-posdesc"> 江南大道沿线，距我4.7km </div>
  </div>
</section>
<section>
  <div class="datebox">
    <div class="datebox-wrap">
      <div class="datebox-left">
        <div class="datebox-desc"> 入住 </div>
        <div class="datebox-time"> 08月17日 今天 </div>
      </div>
      <div class="datebox-right">
        <div class="datebox-desc"> 离店 </div>
        <div class="datebox-time"> 08月18日 明天 </div>
      </div>
    </div>
    <div class="datebox-count"> 共1晚 </div>
  </div>
</section>
<section>
  <div class="ht-predit">

  </div>
</section>