<header class="header">
  <img src="./../assets/img/hotel-header.jpg">
  <div class="header-info">
    <div class="header-info-title"> 中懋国际大酒店<span>&nbsp;[五星级]</span> </div>
  </div>
</header>
<section class="clearfix">
  <div class="ht-title comment">
    <div class="comment-score">
      <span class="comment-score-num">4.9</span>
      <span>分</span>
      <div class="comment-score-desc">
        <p class="">国际五星标准</p>
      </div>
      <p class="small right">名流商务休闲之旅</p>
    </div>

  </div>
  <!-- <div class="ht-adress">
    地址：xxxxxx
  </div>
  <div class="address-img">
    <img src="" />
  </div> -->
</section>
<section class="map">
  <div class="map-content">
    <div class="map-location"> 海珠区昌岗中路172号（近地铁2号线、8号线昌岗站E出口） </div>
    <div class="map-posdesc"> 详细地址 </div>
  </div>
</section>
<section>
  <div class="datebox">
    <div class="datebox-wrap">
      <div #dateBoxLeft class="datebox-left" id="getToday" (click)="showDate(0)" @fadeIn>
        <div class="datebox-desc"> 入住 </div>
        <div class="datebox-time"> {{todayTime}} </div>
      </div>
      <div #dateBoxRight class="datebox-right" id="getTomorrow" (click)="showDate(1)" @fadeIn>
        <div class="datebox-desc"> 离店 </div>
        <div class="datebox-time"> {{tomorrow}} </div>
      </div>
    </div>
    <div class="datebox-count"> 共1晚 </div>
  </div>
</section>
<section>
  <div class="clearfix">
  <div class="ht-predit left" [class.ht-active]="showPage === 'ht-predit'"  id="ht-predit" (click)="handleShowPage($event)">
    <!--<i class="bookroom-title-icon">订</i> 预订&nbsp;[8]-->
    预订&nbsp;[8]
  </div>
  <div class="ht-detail ht-predit left" [class.ht-active]="showPage === 'ht-detail'" id="ht-detail" (click)="handleShowPage($event)">
     酒店详情
  </div>
  <div class="ht-common ht-predit left" [class.ht-active]="showPage === 'ht-common'" id="ht-common" (click)="handleShowPage($event)">
     酒店评价
  </div>
  </div>
  <ul *ngIf="showPage === 'ht-predit'">
    <li class="item room">
      <div class="room-left">
        <p class="room-left-title">标准大床房 <span class="textico-gray" style="display: none;"></span> </p>
        <ul class="tags">
          <li class="tags-item" style="color: rgb(153, 153, 153);">不含早</li>
          <li class="tags-item" style="color: rgb(153, 153, 153);">有窗</li>
        </ul>
        <div class="room-desc"> 现已过可取消时间，不可取消 </div>
        <h2 class="price">¥ <span class="price-num">218</span> </h2>
        <ul style="display: none;"> </ul>
      </div>
      <div class="room-right">
        <div class="room-right-center">
          <div class="room-right-redtip" style="display: none;"> </div>
          <div class="room-right-redtip" style="display: none;"> 仅剩0间 </div> <button class="room-button" type="button" name="button">预订</button> </div>
      </div>
    </li>
    <li class="item room">
      <div class="room-left">
        <p class="room-left-title">标准大床房 <span class="textico-gray" style="display: none;"></span> </p>
        <ul class="tags">
          <li class="tags-item" style="color: rgb(153, 153, 153);">不含早</li>
          <li class="tags-item" style="color: rgb(153, 153, 153);">有窗</li>
        </ul>
        <div class="room-desc"> 现已过可取消时间，不可取消 </div>
        <h2 class="price">¥ <span class="price-num">218</span> </h2>
        <ul style="display: none;"> </ul>
      </div>
      <div class="room-right">
        <div class="room-right-center">
          <div class="room-right-redtip" style="display: none;"> </div>
          <div class="room-right-redtip" style="display: none;"> 仅剩0间 </div> <button class="room-button" type="button" name="button">预订</button> </div>
      </div>
    </li>
    <li class="item room">
      <div class="room-left">
        <p class="room-left-title">标准大床房 <span class="textico-gray" style="display: none;"></span> </p>
        <ul class="tags">
          <li class="tags-item" style="color: rgb(153, 153, 153);">不含早</li>
          <li class="tags-item" style="color: rgb(153, 153, 153);">有窗</li>
        </ul>
        <div class="room-desc"> 现已过可取消时间，不可取消 </div>
        <h2 class="price">¥ <span class="price-num">218</span> </h2>
        <ul style="display: none;"> </ul>
      </div>
      <div class="room-right">
        <div class="room-right-center">
          <div class="room-right-redtip" style="display: none;"> </div>
          <div class="room-right-redtip" style="display: none;"> 仅剩0间 </div> <button class="room-button" type="button" name="button">预订</button> </div>
      </div>
    </li>
  </ul>
  <ul *ngIf="showPage ==='ht-detail'">
    <app-detail></app-detail>
  </ul>
  <ul *ngIf="showPage ==='ht-common'" >
    <app-estimate></app-estimate>
  </ul>

</section>

<!--日历弹出层-->
<section *ngIf="handleDate" style="z-index: 99999; position:fixed; bottom:-75px;">
  <app-datepicker (onVoted)="onVoted($event)" [tomTime]="data" ></app-datepicker>
</section>
<!--遮罩层-->
<div *ngIf="showOverlay" style="position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.5);z-index: 999;" (click)="closeAllPanel()" @handleMask></div>
