<section class="suc-order">
  <div class="order-header">
    <p class="h2 color-blue">已成交</p>
    <div class="common-desc color-blue font-size">
      <span>感谢您的入住，欢迎点评该酒店 <span class="common-h"><a class="color-blue">详细 ></a></span></span>
    </div>
    <div class="pay-desc">
      <p>在线预付 <span class="color-red price-order">￥<i class="price-size">219</i></span><span class="price-detail color-blue right">费用早餐明细</span></p>
      <div class="pay-btn color-blue">
        <button>点评有礼</button>
        <button>再次预订</button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="order-header">
    <div class="ht-desc">
      <span class="ht-name">中懋国际大酒店<span class="color-blue">酒店详情</span></span>
    </div>
    <p class="color-ash">电话： <span class="color-blue">xxxxxxxxxxx</span></p>
    <p class="color-ash">地址： <span class="color-black">湖南省广水路xxx</span><span class="color-blue right">查看地图</span></p>
    <div class="line-way clearfix">
      <ul>
        <li><i class="line-icon">图标</i><span>白云国际机场</span><span>51.6公里</span><span>驾车1.1小时</span></li>
        <li><i class="line-icon">图标</i><span>白云国际机场</span><span>51.6公里</span><span>驾车1.1小时</span></li>
        <li><i class="line-icon">图标</i><span>白云国际机场</span><span>51.6公里</span><span>驾车1.1小时</span></li>
      </ul>
    </div>
  </div>
</section>
<section>
  <div class="order-header">
    <div class="ht-desc">
      <span class="ht-name">标准商务房<span class="color-blue">房型详情</span></span>
    </div>
    <p class="room-desc">1间 大床 无早餐</p>
    <div class="use-time clearfix">
      <div class="time-in left">
        <p class="date-in">04月01日</p>
        <span>14：00入住</span>
      </div>
      <p class="left night-num">1晚</p>
      <div class="time-in left">
        <p class="date-in">04月02日</p>
        <span>12：00前退房</span>
      </div>
    </div>
    <div class="buyer-msg">
      <ul>
        <li>入住姓名<span class="desc-msg">xxx</span></li>
        <li>联系手机<span class="desc-msg">19522xxx001</span></li>
        <li>预订日期<span class="desc-msg">2017-03-31</span></li>
        <li>发票信息<span class="desc-msg">未开发票</span></li>
      </ul>
    </div>
  </div>
</section>