<div class="htl-iphone">
  <p class="htl-title">联系电话</p>
  <div class="htl-content">
    020-86811088/86836777
  </div>
</div>
<div class="htl-service clearfix">
  <p class="htl-title">可提供服务</p>
  <div class="htl-content">
    <ul>
      <li>
        <img class="service-img" src="./../assets/img/wify.png" >
        <p class="service-desc">无线上网</p>
      </li>
      <li>
        <img class="service-img" src="./../assets/img/stopCar.png" >
        <p class="service-desc">无线上网</p>
      </li>
      <li>
        <img class="service-img" src="./../assets/img/packSave.png" >
        <p class="service-desc">无线上网</p>
      </li>
      <li>
        <img class="service-img" src="./../assets/img/restaurant.png" >
        <p class="service-desc">有线上网</p>
      </li>
      <li>
        <img class="service-img" src="./../assets/img/bath.png" >
        <p class="service-desc">行李寄存</p>
      </li>
      <li>
        <img class="service-img" src="./../assets/img/bath.png" >
        <p class="service-desc">热水洗浴</p>
      </li>
      <li>
        <img class="service-img" src="./../assets/img/wify.png" >
        <p class="service-desc">电吹风</p>
      </li>
      <li>
        <img class="service-img" src="./../assets/img/wash.png" >
        <p class="service-desc">洗漱用具</p>
      </li>
      <li>
        <img class="service-img" src="./../assets/img/wake.png" >
        <p class="service-desc">叫醒服务</p>
      </li>
      <li>
        <img class="service-img" src="./../assets/img/wify.png" >
        <p class="service-desc">刷卡消费</p>
      </li>
    </ul>
  </div>
</div>
<div class="htl-intro">
  <p class="htl-title">酒店介绍</p>
  <div class="htl-content">
    <ul class="clearfix">
      <li>装修时间： </li>
      <li>开业时间：2017年</li>
      <li>楼层高度：20层</li>
      <li>房间总数： 128间</li>
    </ul>
    <p>中懋国际大酒店主体高20层，建筑面积近3万平方米，建筑风格融经典于时尚之中，外部构造宏伟大气，内部装修华丽典雅。拥有温馨舒适的各类房型共181套，配有电子房控系统、网络TV系统、宽屏电视及室内恒温控制系统等设备，所有区域覆盖免费WIFI；如意轩中餐厅，格调高雅，雍容华贵，拥有大小各式包厢14间，另有可容纳400人的空高6米无柱式豪华宴会厅，是您举办大型盛宴的最佳选择；菲斯特西餐厅时尚典雅，可同时提供120人就餐，由知名大厨为您精心主理，在此您可以品尝到经典的各式异国美食，让你醉心其中；同时酒店配有各型会议室及多功能厅，可承接20至400人会议，辅助先进现代的高科技会议系统，是举办新闻发布、商业洽谈、会展会议的首选之地。酒店同时拥有经验丰富的宴会销售服务团队，针对不同的场合需求度身订制会议方案，提供全天候个性化服务。</p>
  </div>
</div>