<section class="header">
  <div>房间已锁定，请您在<span class="red-color">29</span>分钟<span class="red-color">44</span>秒完成支付</div>
  <div>订单号： E080931094</div>
</section>
<section class="detail-body">
  <div class="detail-order">
    <div class="detail-desc">
      <div class="room-type">
        商务大床房
      </div>
      <div class="room-msg">
        <p>入住： <span>8月22日</span> 离店：8月23日 <span>1</span>晚</p>
      </div>
    </div>
    <div class="buyer-msg">
      <div class="buyer-name">
        张先生
      </div>
      <div class="buyer-phone">
        13725102798
      </div>
      <div class="toPay red-color">
        <p>待支付 <span class="right">￥<i>219</i></span></p>
      </div>
    </div>
  </div>
</section>
<section class="footer">
  <div class="pay-price">
    支付金额： <span class="red-color">￥<i>219</i></span>
  </div>
  <button class="pay-btn">立即支付</button>
</section>
